@media only screen and (max-width:425px){
    .header-h{
        height: 180px !important;
    }
    html body .header .menu .menu-list li .list-items{
        animation: my animation 0.6s linear;
    }
    @keyframes my-animation{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    html body .header {
        flex-direction: column;
        transition: 0.5s all ease-in-out;
    }
    html body .header .logo {
        width: 60%;
        position: absolute;
        top: 15px;
        margin: 0;
    }
    html body .header .burger {
        position: absolute;
        top: 18px;
        display: block;
        right: 5%;
    }
    html body .header .menu .menu-list li .list-items {
        padding: 0;
    }
    html body .header .menu .menu-list{
        display: none;
    }
    html body .cover .cover-content .cover-heading h1 {
        font-size: 1.5rem;
    }
    html body .cover {
        height: 502px; 
    }
    html body .cover .cover-content {
        padding-top: 150px;
        justify-content: start;
    }

    html body .cover .cover-content .cover-para p {
        font-size: 0.595rem;
    }
    html body .service .main-service {
        padding: 40px;
    }
    html body .service .main-service .inner-service .service-heading h2 {
        width: 76%;
        font-size: 1.5rem;
        padding-top: 15px;
    }
    html body .service .main-service .inner-service .service-para p {
        font-size: 0.82rem;
    }
    html body .service .main-service .inner-service .my-btn {
        font-size: 0.65rem;
    }
    html body .service .main-service .inner-service img {
        float: left;
        margin: 0 0 0 80px;
        width: 50%;
    }
    .my-container {
        width: 415px !important;
        padding: 26px !important;
        overflow: hidden;
    }
    .kitchen-food {
        height: 100% !important;
    }
    html body .kitchen {
        height: 1152px !important;
        top: 1529px !important;
        width: 100%;
        clip-path: polygon(50% 2%, 100% 0, 100% 100%, 0 100%,0 0);
    }
    html body .kitchen-heading h3 {
        font-size: 0.78rem;
        padding: 10px 0 10px 0;
    }
    .food-5 {
        height: 94%;
    }
    .food-4 {
        height: 75%;
    }
    html body .kitchen .kitchen-head {
        height: 50px;
    }
    html body .kitchen .kitchen-head h3 {
        padding: 25px 0 15px 0;
        font-size: 1.8rem;
    }
    .main-kitchen {
        grid-gap: 0.81rem;
        display: flex;
    flex-direction: column;
    }
    .food-1 {
  
        height: 170px;
        width: 50%;
        margin: 0 auto;
    }
    .food-2 {
        
height: 310px;
        
width: 65%;
        
margin: 0 auto;
    }
    .food-3 {
       
        height: 170px;
        width: 50%;
        margin: 0 auto;
    }
    .food-4 {
       
        height: 170px;
        width: 50%;
        margin: 0 auto;
    }
        .food-5 {
            height: 170px;
            width: 50%;
            margin: 0 auto;
        }
        html body .kitchen-heading {
            width: 50%;
            margin: 0 auto;
            padding-top: 18px;
        }
        html body .service {
            clip-path: polygon(100% 0, 100% 100%, 50% 98%, 0 100%,0 0);
            top: 472px;
        }
        html body .footer {
            top: 2653px;
            height: 305px;
        }
        .connection {
            width: 150px;
            padding-top: 0px;
        }
        .main-footer .icon .my-icon, .main-footer .conect-content h4 {
            font-size: 1.0rem;
        }
        .about-bussiness-content {
            padding-top: 0px;
        }
        .about-bussiness-content .heading h3 {
            font-size: 1.25rem;
        }
        .about-bussiness-content .para p {
            font-size: 0.70rem;
        }
        .about-bussiness-content .social-icons .icon-list li i {
            font-size: 1rem;
        }
        .about-bussiness-content .social-icons .icon-list li {
            height: 22px;
            width: 12%;
        }
        .about-bussiness-content .social-icons .icon-list {
            padding: 0;
        }
        .clock {
            top: 2974px;
            font-size: 0.705rem;
            height: 35px;
        }
}
@media only screen and (max-width:768px){
    .my-container {
        width: 760px;
        padding: 50px;
    }
    html body .kitchen {
        padding-top: 0px;
        height: 848px;
    }
    .kitchen-food {
        height: 90%;
        padding-top: 32px;
    }
}