html {
    scroll-behavior: smooth;
}
html body {
    background-color: red;
}
html body .header {
    display: flex;
    width: 100%;
    height: 75px;
    background-color: #2e242d73;
    justify-content: center;
    align-items: center;
    z-index: 4;
    position: absolute;
}
html body .wrapper {
    color: black;
}
.my-container{
    width: 940px;
    margin: 0 auto;
}
.fixed{
    position: fixed !important;
    width: 100% !important;
    background-color: white !important;
}
html body .header .logo {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 10px 0 0 18px;
    cursor: pointer;
}
html body .header .logo span {
    display: inline-flex;
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}
html body .header .logo p {
    color: red;
}
html body .header .menu {
    width: 80%;
}
html body .header .menu .menu-list {list-style: none;display: flex;float: right;margin: 0;margin: 0 44px 0 0;}
html body .header .menu .menu-list li {}
html body .header .menu .menu-list li .list-items {
    text-decoration: none;
    padding: 1rem 0.5rem;
    color: #fff;
    transition: 0.6s all ease-in-out;
    font-weight: 600;
}
html body .header .menu .menu-list li .list-items:hover {
    color: #fc0000;
}
html body .header .burger {
    display: none;
}
html body .header .burger .line1 {
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: red;
    top: 13px;
    right: 5%;
}
html body .header .burger .line2 {
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: red;
    top: 16px;
    right: 5%;
}
html body .header .burger .line3 {
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: red;
    top: 19px;
    right: 5%;
}
html body .header .burger .line4 {
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: red;
    top: 22px;
    right: 5%;
}
.main-kitchen{
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
        'food-1 food-2 food-3'
        'food-4 food-2 food-5'
        'food-4 kitchen-heading food-5';
}
.food-1{
    grid-area: food-1;
}
.food-2{
    grid-area: food-2;
}
.food-3{
    grid-area: food-3;
}
.food-4{
    grid-area: food-4;
    height: 50%;
}
.food-5{
    grid-area: food-5;
    height: 70%;
}
.kitchen-food{
    width: 100%;
    height: 100%;
}
.fixed .list-items {
    color: black !important;
}
.fixed span {
    color: black !important;
}
.fixed .list-items:hover {
    color: #ff0000 !important;
}
.v-list {
    list-style: none !important;
    display: block !important;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 63px;
    padding: 0;
    margin: 0 !important;
    text-align: center;
    animation: my-animation 2s linear;
}
@keyframes my-animation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
html body .cover {
    background-image: linear-gradient(45deg, black, transparent),url(../img/cover4.jpg);
    height: 657px;
    position: absolute;
    top: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    clip-path: polygon(100% 0,100% 95%, 50% 100%, 0 95%,0 0);
}
html body .cover .cover-content {
    display: flex;
    height: 650px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
html body .cover .cover-content .cover-heading {}
html body .cover .cover-content .cover-heading h1 {
    color: red;
    font-size: 3.85rem;
    padding-bottom: 1rem;
}
html body .cover .cover-content .cover-para {
    width: 70%;
}
html body .cover .cover-content .cover-para p {
    color: white;
    text-align: center;
    font-size: 1.25rem;
}
html body .service {
    padding-top: 30px;
    background-color: #d6d6d6;
    position: absolute;
    top: 623px;
    width: 100%;
    clip-path: polygon(100% 0, 100% 100%, 50% 95%, 0 100%,0 0);
}
html body .service .main-service {
    padding: 50px;
}
html body .service .main-service .inner-service {
    margin-bottom: 70px;
    border-right: 1px solid #ff0101;
}
html body .service .main-service .inner-service img {
    width: 60%;
    border-radius: 60%;
    float: right;
    margin: 8px;
}
html body .service .main-service .inner-service .service-heading {}
html body .service .main-service .inner-service .service-heading h2 {
    font-weight: 300;
    border-bottom: 1px solid #ff0101;
    width: 55%;
}
html body .service .main-service .inner-service .service-para {}
html body .service .main-service .inner-service .service-para p {
    font-size: 1.02rem;
    font-weight: 700;
}
html body .service .main-service .inner-service .my-btn {
    background-color: #ff0101;
    border: none;
    text-transform: uppercase;
}
html body .kitchen {
    position: absolute;
    top: 1349px;
    height: 1006px;
    width: 100%;
    background-color: #0b0000;
    padding-top: 50px;
    clip-path: polygon(50% 5%, 100% 0, 100% 100%, 0 100%,0 0);
}
.food-2:nth-child(2) .kitchen-food {
    height: 550px;
}
html body .kitchen-heading {
    padding-bottom: 16px;
}

html body .kitchen-heading h3 {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 700;
    padding: 20px 0 20px 0;
    background-color: #95c43e;
    color: white;
}
html body .kitchen .kitchen-head {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 190px;
}

html body .kitchen .kitchen-head h3 {
    font-size: 2.9rem;
    font-weight: 900;
    color: #9f7852;
    margin: 0;
}
html body .kitchen .kitchen-head span {
    color: #ec1121;
    border-bottom: 5px solid #9f7852;
}
html body .footer {
    position: absolute;
    top: 2319px;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aa1912;
    clip-path: polygon(50% 8%, 100% 0, 100% 100%, 0 100%, 0 0);
}
.main-connection{
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
        'connection about-bussiness-content';
    width: 100%;
}
.connection{
    grid-area: connection;
    width: 470px;
    padding-top: 50px;
    padding-left: 0px;
}
.about-bussiness-content{
    grid-area: about-bussiness-content;
    padding-top: 50px;
}
.about-bussiness-content .heading {
}
.about-bussiness-content .para {
    width: 90%;
    padding-top: 15px;
}
.main-footer {}
.main-footer .icon {
    padding-bottom: 8px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.main-footer .conect-content {width: 50%;margin: 0 auto;text-align: center;padding-bottom: 12px;}
.main-footer .conect-content h4 {
    font-size: 1.62rem;
    color: white;
    font-weight: bold;
}
.about-bussiness-content .heading h3 {
    font-size: 2.25rem;
    color: #95c43e;
}
.about-bussiness-content .social-icons {
    padding-top: 15px;
}
.about-bussiness-content .social-icons .icon-list {
    list-style: none;
}
.about-bussiness-content .social-icons .icon-list li {
    margin: 0 0 0 15px;
    width: 15%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    background-color: #cac9c7;
    border-radius: 12px;
}
.about-bussiness-content .social-icons .icon-list li a {}
.about-bussiness-content .social-icons .icon-list li i {
    font-size: 2.0rem;
}
.main-footer .icon .my-icon {
    font-size: 1.8rem;
    color: #cac9c7;
}
.about-bussiness-content .para p {
    color: white;
}
.clock {
    position: absolute;
    top: 2726px;
    width: 100%;
    font-size: 1.5rem;
    height: 80px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.clock span {
    color: white;
}
.clock p {
    color: #a6ff00;
}
.clock .scrollup-btn {
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    right: 4%;
    border-radius: 50px;
    position: fixed;
   bottom: 46px;
}
.fixed-btn{
}
.clock .scrollup-btn i {color: black;}
.clock .scrollup-btn a {
    text-decoration: none;
    color: #fff;
    display: block;
    width: 22px;
    margin-top: -7px;
}
